nav {
  background-color: aquamarine;
}

nav.top-nav {
  background-color: transparent;
  color: #000000;
}

.header {
  margin: 0 10px 0 0;
  padding-top: 5px;
  float: right;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

#bookwormLogo {
  margin: 10px 0 0 0;
  width: 70px;
}

#search {
  margin: 20px 0 0 0;
}
