nav.top-nav {
  background-color: transparent;
  color: #000000;
}

.header {
  margin: 0 10px 0 0;
  padding-top: 5px;
  float: right;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

#bookwormLogo {
  margin: 10px 0 0 10px;
  width: 70px;
}

#search {
  margin: 100px 0 0 0;
  padding: 0 0 0 30px;
  width: 100%;
}

::placeholder {
  color: #b6b2be;
  opacity: 1;
}

.search-wrapper {
  list-style: none;
  white-space: nowrap;
  width: 300px;
  border-bottom: 1px solid #b6b2be;
}

.material-icons,
#search {
  display: inline-block;
  width: 80%;
  border: none;
}

.material-icons {
  color: #b6b2be;
}

.menu {
  color: #000000;
}
