nav.top-nav {
  background-color: transparent;
  color: #000000;
}

.header {
  margin: 0 10px 0 0;
  padding-top: 5px;
  float: right;
  font-size: 40px;
  font-family: "Merriweather", serif;
}

#bookwormLogo {
  margin: 10px 0 0 10px;
  width: 70px;
}

#search {
  margin: 100px 0 0 0;
  padding: 0 0 0 30px;
  width: 100%;
}

::placeholder {
  color: #b6b2be;
  opacity: 1;
}

.searchWrapper {
  list-style: none;
  white-space: nowrap;
  width: 300px;
  border-bottom: 1px solid #b6b2be;
}

.material-icons,
#search {
  display: inline-block;
  width: 77%;
  border: none;
}

.searchBtn {
  height: 30px;
  width: 30px;
  align-items: center;
  text-align: center;
  padding: 0 1px 0 1px;
  background-color: #ff5d73;
  border: 1px solid #000000;
}

.searchBtn:hover {
  background-color: #ffffff;
}

.material-icons {
  color: #000000;
}

.menu {
  color: #000000;
}

.menuContainer {
  border: 1px solid #000000;
}
