/* Offset content by the width of the side menu */
header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
/* Offset content by the width of the side menu */

body {
  background-color: #ff5d73;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

.page-footer {
  background-color: #ff5d73;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -30px 38px -10px rgba(0, 0, 0, 0.22);
}

.footerHeader {
  float: right;
  font-size: 20px;
}

.footer-copyright {
  float: right;
}

.gitHub {
  margin: 0 20px 0 20px;
}

.linkedIn {
  margin: 0 10px 0 0;
}
