.bodyContainer {
  margin: 50px auto 50px auto;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 100%;
  text-align: center;
  width: 80%;
}

.card-content {
  background-color: #ffa6b2;
}

.resultsHeader,
.resultTitle {
  font-family: "Merriweather", serif;
  font-size: 30px;
  color: #000000;
}
