.bodyContainer {
  margin-top: 50px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 100%;
  text-align: center;
}

.card-content {
  background-color: #424c55;
}

.resultsContainer {
  margin: 50px auto 0 auto;
  width: 80%;
}
